<div class="messages"></div>
<form>
    <input type="text" class="nickname">
    <input type="text" class="message">
    <input type="submit" value="전송하기">
</form>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.4/socket.io.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript">
    var socket = io.connect("http://" + document.domain + ":" + location.port);
    socket.on("connect", function() {
        socket.emit("event", {data:"Connect"});

        var form = $("form").on("submit", function(e) {
            e.preventDefault();
            let nickname = $("input.nickname").val();
            let message = $("input.message").val();
            socket.emit("chat", {
                nickname: nickname,
                message: message
                });
            $("input.message").val("").focus();
        })
    });
    socket.on("response", function(msg) {
        $("div.messages").append("<div><b style='color:blue'>" + msg.nickname + "</b> " + msg.message + "</div>");
    });
</script>
